PORT=3001
OLLAMA_BASE_URL=http://localhost:11434
OLLAMA_REASONING_MODEL=llama3
MOCK_LLM=true
DATA_DIR=./data

# Jira Cloud — https://id.atlassian.com/manage-profile/security/api-tokens
JIRA_BASE_URL=https://rajcodes49.atlassian.net
JIRA_EMAIL=raj.codes49@gmail.com
JIRA_API_TOKEN=ATATT3xFfGF0-KLbBMm0IjOQjqf3jWVhTM0w6AphyE2ErDbywd2pn8VkSbAlQ87KtlkKwkYPGWKOWA1uMSnwbq31_k0giGhgU1XCO0oxAGtBqC6KkdoBUkMGYwT09Lsfg3IxbF0RX_QEqIpVJHC653Wv-He3pPsKwrdLAvmGFYQGi7L1zatl-Ow=031E2B4A
JIRA_PROJECT_KEY=KAN
